target_include_directories(${PROJECT_NAME} PRIVATE ${CMAKE_CURRENT_SOURCE_DIR})

target_sources(${PROJECT_NAME} PRIVATE
    ${CMAKE_CURRENT_SOURCE_DIR}/{{includeDir}}/Helper.cpp
    {{#apiInfo}}
    {{#apis}}
    ${CMAKE_CURRENT_SOURCE_DIR}/{{includeDir}}/apis/{{classname}}.cpp
    {{/apis}}
    {{/apiInfo}}
    {{#modelPackage}}
    {{#models}}
    {{#model}}${CMAKE_CURRENT_SOURCE_DIR}/{{includeDir}}/models/{{classname}}.cpp{{/model}}
    {{/models}}
    {{/modelPackage}}
)
