add_library({{cmakeTarget}}
    ${CMAKE_CURRENT_SOURCE_DIR}/{{includeDir}}/Helper.cpp
    {{#apiInfo}}
    {{#apis}}
    ${CMAKE_CURRENT_SOURCE_DIR}/{{includeDir}}/apis/{{classname}}.cpp
    {{/apis}}
    {{/apiInfo}}
    {{#modelPackage}}
    {{#models}}
    {{#model}}${CMAKE_CURRENT_SOURCE_DIR}/{{includeDir}}/models/{{classname}}.cpp{{/model}}
    {{/models}}
    {{/modelPackage}}
)
target_include_directories({{cmakeTarget}} PUBLIC ${CMAKE_CURRENT_SOURCE_DIR})
target_link_libraries({{cmakeTarget}} PRIVATE Drogon::Drogon)
