#ifndef {{prefix}}_{{classname}}_H
#define {{prefix}}_{{classname}}_H

#include <drogon/drogon.h>
#include <json/json.h>
#include <string>
#include <optional>
#include "../helper.h"

{{#imports}}{{{import}}}
{{/imports}}

{{#cppNamespace}}
namespace {{this}} {
{{/cppNamespace}}

{{#models}}
{{#model}}
{{#summary}}
// {{.}}
{{/summary}}
{{#description}}
// {{.}}
{{/description}}
struct {{classname}} {
    {{#vars}}
    {{{dataType}}} {{name}};
    {{/vars}}

    {{classname}}() = default;
    operator Json::Value() const {
        return this->toJson();
    }
    {{classname}}(const Json::Value& __value) {
        this->fromJson(__value);
    }

    Json::Value toJson() const {
        Json::Value _json;
    {{#vars}}
        _json["{{name}}"] = {{#isContainer}}Helper::toJson{{/isContainer}}({{name}}{{#isModel}}.toJson(){{/isModel}});
    {{/vars}}
        return _json;
    }
    {{classname}}& fromJson(const Json::Value& _json) {
    {{#vars}}
        {{#isContainer}}
        for (auto _it = _json.begin(); _it != _json.end(); _it++) {
            {{name}}.emplace{{#isArray}}_back{{/isArray}}({{#isMap}}_it.name(), {{/isMap}}{{#items}}(*_it){{^isModel}}.as<{{{dataType}}}>(){{/isModel}}{{/items}});    
        }
        {{/isContainer}}
        {{^isContainer}}
            {{#isModel}}
        {{name}}.fromJson(_json["{{name}}"]);
            {{/isModel}}
            {{^isModel}}
        {{name}} = _json["{{name}}"].as<{{{dataType}}}>();
            {{/isModel}}
        {{/isContainer}}
    {{/vars}}
        return *this;
    }
};
{{/model}}
{{/models}}

{{#cppNamespace}}
}
{{/cppNamespace}}

#endif
